@font-face {
	font-family: "iransans";
	src: url('../fonts/iransans.eot?#') format('eot'),  /* IE6–8 */
       	 url('../fonts/iransans.svg') format('svg'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       	 url('../fonts/iransans.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/iransans/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iransans/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/iransans/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iransans/eot/IRANSansWeb.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/iransans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}

html {
	padding-top: 50px;
	position: relative;
	min-height: 100%;
}
html div{
	font-family:"iransans","tahoma";
}
body{
	direction:rtl;	
	line-height:26px;
	text-decoration: none;
}
body input{
	font-family:"iransans","tahoma";
	padding-right:10px;
}
.breadcrumb i{
	font-size:20px;
}
.panel-heading i {font-size:20px;}
.panel-footer i {font-size:15px;}
.my-checkout{
	margin-top:15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:10px 60px 10px 60px;
}

@media (max-width:767px) {
	.auth-container{background-color:#f2f2f2;border:none;}
	.panel-price-c1, .panel-price-c2{font-size:12px;}
	.panel-pad-sign{font-size:16px;}
	.panel-pad-data{font-size:11px;}
	.search-form input{font-size:16px;}
	.food-container .food-name{font-size:11px;padding-right:0px;padding-left:0px;}
	.food-container .food-price{font-size:11px;padding-right:0px;padding-left:0px;}
	.food-container .food-add{font-size:14px;}
	.auth-form input{width:95%;}
	.auth-form a div{width:95%;}
	.slogan{font-size:30px;}
	.l2{font-size:15px;}
	.auto-location i{font-size:20px;}
}
@media (min-width:768px) {
	.auth-container{background-color:#fff;border:1px solid #ecf0f1;}
	.panel-price-c1, .panel-price-c2{font-size:13px;}
	.panel-pad-sign{font-size:25px;}
	.panel-pad-data{font-size:13px;}
	.search-form input{font-size:12px;}
	.food-container .food-name{font-size:15px;}
	.food-container .food-price{font-size:12px;}
	.food-container .food-add{font-size:20px;}
	.auth-form input{width:75%;}
	.auth-form a div{width:75%;}
	.slogan{font-size:25px;}
	.l2{font-size:20px;}
	.auto-location i{font-size:45px;}
}
@media (min-width:1200px) {
	.auth-container{background-color:#fff;border:1px solid #ecf0f1;}
	.panel-price-c1, .panel-price-c2{font-size:14px;}
	.panel-pad-sign{font-size:25px;}
	.panel-pad-data{font-size:13px;}
	.search-form input{font-size:14px;}
	.food-container .food-name{font-size:13px;}
	.food-container .food-price{font-size:12px;}
	.food-container .food-add{font-size:20px;}
	.auth-form input{width:75%;}
	.auth-form a div{width:75%;}
	.slogan{font-size:30px;}
	.l2{font-size:20px;}
	.auto-location i{font-size:45px;}
}
@media (width:1920px) {
	.auth-container{background-color:#fff;border:1px solid #ecf0f1;}
	.panel-price-c1, .panel-price-c2{font-size:15px;}
	.panel-pad-sign{font-size:25px;}
	.panel-pad-data{font-size:13px;}
	.search-form input{font-size:14px;}
	.food-container .food-name{font-size:15px;}
	.food-container .food-price{font-size:12px;}
	.food-container .food-add{font-size:20px;}
	.auth-form input{width:100%;}
	.auth-form a div{width:100%;}
	.slogan{font-size:25px;}
	.l2{font-size:20px;}
	.auto-location i{font-size:45px;}
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- first-Section --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.first-section{
	background:url("../images/back.jpg") no-repeat center; 
	overflow:hidden;
	-web-kit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	height:580px;
	padding:40px 0px 210px 0px;
}
.slogan{
	color:#fff;
	text-align:center;
}
.auto-location {font-size:15px;}
.auto-location a {text-decoration:none;color:#fff;cursor:pointer;font-weight:bold;}
.auto-location a:hover{color:#e74c3c;}

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- guide-Section --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.guide-section{
	padding:30px 0px 20px 0px;
}
.guide-section p{
	margin-top:10px;
	font-size:13px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- forms --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.auth-form input{
	margin-top:10px;
	font-size:14px;
}
.auth-form a div{
	margin-top:10px;
	font-size:14px;
}
.user-edit-form input[type=text]{
	font-size:12px;
}
textarea{
	resize: vertical;
	font-size:12px;
}
.btn-search{
	background-color:#2ecc71;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color:#fff;
	width:100%;
	height:100%;
	margin-top:10px;
}
.btn-search:hover{
	color:#fff;
	background-color:#27ae60;
}
.search-form input[type=text]{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.search-form input[type=text]:focus{
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Auth-Section --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.auth-section{
	background-color:#f2f2f2;
	padding:40px 0px 100px 0px;
}
.auth-container{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:20px 00px 40px 0px;
}
.auth-notifier{
	color:#e74c3c;
	font-size:11px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- internal-footer-section --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.internal-footer-section{
	background-color:#fff;
	border-top:1px solid #bdc3c7;
	padding:10px 0px 10px 0px;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.internal-footer-section div div{
	background-color:#fff;
	text-align:center;
}
.internal-footer-section a{
	color:#7f8c8d;
	font-size:13px;
	text-decoration:none;
	font-weight:normal;
}
.internal-footer-section a:hover{
	color:#3498db;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- landing-footer-section --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.footer-section{
	background-color:#1abc9c;
	padding:20px 0px 15px 0px;
}
.footer-section a{text-decoration:none;color:#fff;}
.footer-section a:hover{color:#34495e;}
.footer-section .footer-text{padding-top:5px;font-size:12px;color:#2c3e50;}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- internal-section --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.internal-section{
	padding:20px 0px 75px 0px;
}
.tab-content{
	min-height:350px;
}
.my-label{
	color:#fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-weight:normal;
	padding:5px 15px 5px 15px;
	font-size:11px;
}
.my-label.open{background-color:#2ecc71;}
.my-label.closed{background-color:#95a5a6;}
.my-label.discount{background-color:#3498db;}
.my-label.soldout{background-color:#e74c3c;}
.my-label.online{background-color:#3498db;}
.my-label.cash{background-color:#9b59b6;}
.my-label.status{background-color:#2ecc71;}
.my-label.expired{background-color:#e74c3c;}
.my-label.free{background-color:#e74c3c;font-size:11px;padding:2px 15px 2px 15px;}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- area-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.area-top{
	padding:25px 0px 20px 0px;
	height:150px;
}
.restaurant-container{
	border:1px solid #ecf0f1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:20px 0px 15px 0px;
}
.logo{
	width:110px;
	height:110px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.area-padding{padding:10px;}
.food-padding a, .area-padding a{text-decoration:none;}
.restaurant-container .name{
	margin:15px 0px 0px 0px;
	font-size:16px;
	text-decoration: none;
	color:#34495e;
	font-weight:bold;
}
.restaurant-container .address{
	margin:5px 0px 5px 0px;
	font-size:12px;
	color:#95a5a6;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- restaurants-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.restaurant-top{
	padding:20px 0px 20px 0px;
}
.restaurant-logo{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.food-padding{
	padding:5px;
}
.food-category-title{
	border-bottom:1px solid #ecf0f1;
	padding-right:0px;
	padding-top:35px;
	margin-bottom:20px;
}
.food-category-title span{
	border-bottom:3px solid #2ecc71;
	color:#95a5a6;
	font-size:14px;
}
.food-container{}
/* font-size of food name, food-price and add link changes according to screen size */
.food-container .food-name{margin-top:5px;padding-right:0px;}
.food-container .food-price{margin-top:5px;}
.food-container .food-add{margin-top:8px;}
.food-container .food-add a{cursor:pointer;color:#2ecc71;text-decoration:none;}
.food-container .food-add a:hover{color:#3498db;}

.food-container .food-pic {padding-left:0px;margin-top:5px;}
.food-container .food-pic a{text-decoration:none;color:#bdc3c7;}
.food-container .food-pic a:hover{color:#3498db;}
.food-container .food-pic i{font-size:25px;}

.food-container .food-details{
	font-size:11px;
	color:#7f8c8d;
	padding-right:0px;
}
.food-container .food-divider{
	margin:0px;
	padding:0px;
}
#affix1.affix{position: fixed;top:60px;}
#affix2.affix{position: fixed;top:50px;}
.restaurant-info-tab{
	font-size:12px;
	line-height:30px;
	padding:30px 0px 0px 0px;
}
.restaurant-info-tab i{font-size:16px;}
.restaurant-info-tab div{padding:0px 5px 0px 5px;}
.restaurant-info-tab .title{font-size:14px;margin-bottom:20px;}
.restaurant-info-tab .info-c1{color:#3498db;}
.restaurant-info-tab .info-c2{color:#3498db;padding:0px;}
.restaurant-info-tab .info-c3{padding-right:0px;}
.my-stars{
	direction:ltr;
	margin-bottom:20px;
}
.restaurant-details{
	color:#fff;
}
.my-tab-content{
	padding:0px 20px 20px 20px;
	margin-bottom:20px;
	border-right:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
.cart-side{
	padding-top:10px;
	border:1px solid #dddddd;
	border-top:4px solid #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.cart-side-icon{font-size:25px;color:#3498db;}
.little-cart-container{
	border:1px solid #ecf0f1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 0px 10px 0px;
	margin-top:10px;
	font-size:12px;
	height:70px;
}
.little-cart-container .food-name{}
.little-cart-container .food-remove a{text-decoration:none;cursor:pointer;font-size:17px;}
.little-cart-container .food-quantity span{background-color:#27ae60;padding-top:5px;font-size:13px;}
.little-cart-container .food-price{color:#95a5a6;font-size:13px;}
.my-calc{
	background-color:#ecf0f1;
	margin-top:15px;
	padding:10px 0px 10px 0px;
	
}
.my-calc div{
	font-size:12px;
}
.my-check{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:10px 60px 10px 60px;
}
.final-price{
	padding:15px 0px 10px 0px;
	font-size:12px;
}
.cart-empty{
	text-align:center;
	padding:20px 0px 20px 0px;
}
.cart-empty i{font-size:100px;color:#7f8c8d;}
.c1{text-align:right;font-size:12px;background-color:#ecf0f1;}
.c2{text-align:left;font-size:12px;background-color:#ecf0f1;}
.anim{
	animation:spin 0.5s ;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(360deg); } }

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- cart-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.cart-panel {padding:20px 20px 20px 20px;}
.cart-panel .my-addon {width:20px;}
.cart-panel .cart-input {margin-bottom:10px;}
.cart-panel .cart-input-address {margin-bottom:30px;}
.cart-form input[type=text] {
	float:right;
	font-size:13px;
	border-right:0px;
}
.cart-heading{
	padding:8px 15px 8px 0px;
}
.cart-heading div{
	font-size:13px;
}
.cart-user-info{
	color:#2980b9;
}
table#cart-table td, th {
	font-size:11px;
	text-align: center;
}
table#cart-table th {
	font-size:13px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- panel-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.panel-order-status{
	border:1px solid #ecf0f1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0px 0px 20px 0px;
	margin-bottom:10px;
}
.panel-pad-sign{
	padding-top:5px;
	color:#2980b9;
}
.panel-pad-data{
	padding-top:10px;
	padding-bottom:10px;
}
.panel-price-c1{
	display:inline-block;
}
.panel-price-c2{
	float:left;
	display:inline-block;
}
table#panel-table td, th {
	font-size:11px;
	text-align: center;
}
table#panel-table th {
	font-size:13px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- guest-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.guest-order{
	padding:20px 20px 30px 20px;
	background-color:#fbfbfb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.guest-mode{
	background-color:#fff;
	border:1px solid #dddddd;
	padding:8px 20px 8px 20px;
	margin-bottom:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.guest-mode span{font-size:13px;}
.guest-mode i{font-size:20px;color:#e74c3c;}
.guest-mode .my-login{
	margin:0px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:7px 30px 7px 30px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- 404-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
.not-found {margin-top:7%;}
.not-found .links {margin-top:45px;font-size:16px;}
.not-found .links a {text-decoration:none;color:#3498db;}
.not-found .links a:hover {color:#2ecc71;}
.not-found h4 {margin-top:20px;}
.not-found i {font-size:300px;color:#7f8c8d;}

/* ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------- info-page --------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
#affix3.affix {position: fixed;top:40px;}
.info-page a {text-decoration:none;}
.info-page i:hover {color:#2ecc71;}

.info-page h3 {margin-bottom:20px;}
.info-page h4 {margin-top:35px;}
.info-page h5 {line-height:35px;}
.info-page h6 {line-height:30px;margin-bottom:20px;margin-top:-10px;}
.info-page strong {color:#e74c3c;}

.info-page .a-fix {height:50px;}
.info-page .href-sign {color:#e74c3c;}

.info-page i {font-size:45px;color:#e74c3c;}
.info-page img {margin-top:-18px;margin-right:10px;}
