ul{
    list-style-type: none
}
.my-nav{
    background-color:#BDC3C7;
    
}
.logo{
    width: 130px;
    height: 40px;
}
.my-nav-tab{
    border-bottom: 1px solid #dee2e6;
    padding-top: 20px;
}
.my-tab-content{
    border-left: 1px solid #dee2e6;
    padding: 30px;
    height: 580px;
}
.main{
    
}
.sidebar{
    background-color: #ECF0F1;
}
.footer{
    background-color:#3498db;
}
ul>li>a {
	color: rgb(255, 255, 255);
	text-decoration:none;
    width:300px;
    height:50px;
}
ul>li>a:hover {
    background-color: rgb(172, 185, 197);
    color:rgb(255, 255, 255);
}